* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*shared styles*/
.font-inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}
.logo {
  width: 139px;
  height: 60px;
}
.btn {
  background-color: #30b868;
  color: #ffffff;
  border: none;
  padding: 12.5px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}
.btn:hover {
  background-color: #28a75b;
}
/*main styles*/
header {
  background-color: #ffffff;
  padding-top: 16px;
  padding-right: 120px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  margin-left: 120px;
  margin-top: 16px;
}
nav .menu {
  display: flex;
  gap: 32px;
  list-style: none;
  font-size: 16px;
}
nav .menu li a {
  text-decoration: none;
  color: #1f2937;
  font-weight: 500;
}
nav .menu li a:hover {
  color: #3b82f6;
}
.hero {
  width: 1920px;
  height: 674px;
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .hero-content .btn-early {
  background-color: #ffffff;
  color: #30b868;
  border: none;
  padding: 8px 12px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: medium;
  margin-top: 115px;
  text-align: center;
}
.btn-early::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #30b868;
  border-radius: 100%;
  margin-right: 8px;
  box-shadow: 0 0 0 4px rgba(48, 184, 104, 0.3);
}
.color-green {
  color: #30b868;
}
.color-white {
  color: #ffffff;
}
.hero .hero-content h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-top: 24px;
}
.hero .hero-content p {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-top: 16px;
  letter-spacing: 0%;
  line-height: 24px;
}
.hero .hero-content div {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}
.btn1 {
  background-color: #30b868;
  color: #ffffff;
  border: none;
  padding: 12.5px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}
.btn1:hover {
  background-color: #28a75b;
}
.btn1::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../assets/ArrowRight.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;
}
.btn2 {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 10.5px 14px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}
.btn2:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.btn2::before {
  content: '▶';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}
.info-section {
  width: 1920px;
  height: 448px;
}
section .info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .info-text h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-top: 64px;
}
section .info-text p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  text-align: center;
  margin-top: 16px;
  letter-spacing: 0%;
  line-height: 24px;
}
.info-cards {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 44px 120px 0 120px;
  padding: 24px;
}
.info-cards .card1,
.info-cards .card2,
.info-cards .card3,
.info-cards .card4 {
  width: 360px;
  height: 252px;
  background-color: #f9fafb;
  border-radius: 8px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
}
.info-cards .card1 img,
.info-cards .card2 img,
.info-cards .card3 img,
.info-cards .card4 img {
  background-color: #f95555;
  border-radius: 50%;
  width: 60px;
  display: inline-flex;
  height: 60px;
  margin: 16px 125px 16px 125px;
  padding: 12px;
}
.info-cards .card1 h1,
.info-cards .card2 h1,
.info-cards .card3 h1,
.info-cards .card4 h1 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #111827;
  margin: 16px 24px 16px 24px;
}
.info-cards .card1 p,
.info-cards .card2 p,
.info-cards .card3 p,
.info-cards .card4 p {
  font-size: 16px;
  font-weight: 400;
  color: #6b7280;
  margin: 0 20px 0 20px;
}
.solution-section {
  width: 1920px;
  height: 600px;
  display: flex;
}
.solution-section .solution-image {
  width: 600px;
  height: 600px;
  margin: 120px 60px 120px 200px;
}
.solution-section .solution-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
}
.solution-section .solution-text h6 {
  color: #30b868;
  font-size: 16px;
  font-weight: medium;
  margin: 131px 0 16px 0px;
}
.solution-text h1 {
  font-size: 48px;
  line-height: auto;
  font-weight: bold;
}
.solution-text p {
  font-size: 16px;
  font-weight: 400;
  margin: 16px 0 40px 0px;
}
.solution-text ul {
  list-style: none;
  font-size: 16px;
  font-weight: medium;
  margin-top: 20px;
  text-align: justify;
}
.solution-text ul li::before {
  content: url(../assets/CheckCircle.png);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 7.87px;
}
#challenge {
  padding-top: 220px;
}
#challenge .challenge-heading {
  width: 1520px;
  margin: 0 200px 0 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f6f2;
  padding: 40px 82px;
}
.challenge-heading h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
}
.challenge-heading p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 24px;
  text-align: center;
  line-height: 20px;
}
.challenge-heading .btn3 {
  background-color: #30b868;
  color: #ffffff;
  border: none;
  padding: 12.5px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}
.btn3:hover {
  background-color: #28a75b;
}
.btn3::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../assets/ArrowRight.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;
}
